@page "/checkout2/{orderId}"
@using Expert.WebShop.Vjezbe.models;
@inject HttpClient httpClient;
@inject NavigationManager navManager;




 <section class="d-flex justify-content-center bg-secondary bg-gradient ">

        <ul class="list-unstyled  p-5 text-center">

            @foreach (var item in Orders.OrderBy(x => x.OrderId))   
            {
                <li class="pt-3">
                    <div class="container">

                        <div class="card p-sm-3">


                            <div class="card-body ">

                            <p class="card-title h5">
                                Order ID: @item.OrderId
                            </p>


                            <p class="card-title fw-bold h3">
                                  Name: @item.OrderedByName
                                </p>

                            <p class="card-title fw-bold h3">
                                   Adress: @item.OrderByAdress
                                </p>

                            <p class="card-title fw-bold h3">
                               Email: @item.OrderedByEmail
                            </p>

                            <p class="card-title h4">
                                Number Of Items : @item.NumberOfItems
                            </p>

                            <p class="card-title h4">
                                Price Per Product : @item.PricePerProduct Eur
                            </p>

                            <p class="card-title h4">
                                Product Discount : @item.ProductDiscount %
                            </p>

                                <p class="card-text fw-bold h3">
                                Total Ammount : @item.TotalAmmount Eur
                                </p>
                               
                            </div>
                        </div>
                    </div>
                </li>

            }
        </ul>
    </section>





@code {
    public Guid orderId;
    private List<BuyItems> Orders = new List<BuyItems>();


    public async Task OnInitializedAsync(Guid orderId)
    {
        
        if(Orders.FirstOrDefault(x => x.OrderId == orderId) == null)
        {
         var result = await httpClient.GetAsync($"{Constants.BaseUrl}/ShoppingCards/{orderId}");
        

        if (result.IsSuccessStatusCode)
        {
            Orders = await result.Content.ReadFromJsonAsync<List<BuyItems>>();
        }
        }
    }



}
